html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

header {
    position: relative;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 200px;
    justify-items: start;
    width: 100%;
    height: 200px;

}

main {
    position: relative;
    width: 100%;
    height: calc(100% - 400px);
    overflow: scroll;
}

footer {
    position: relative;
    background-color: gray;
    width: 100%;
    height: 200px;
}

/* header elements */

#logo-container {
    height: 100%;

}

#logo {
    position: relative;
    left: 90%;
    top: 10%;
    height: 100%;
}


/* main elements */

#main-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr repeat(2, 2fr);

}

#hello-container {
    width: 100%;
    height: 100%;
    font-family: "Arial Black";
    font-size: 3.5em;
    text-align: left;
    margin-left: 5%;
    margin-top: 50px;
}

.Destination-Input {
    font-size: 50px;
}

/* from input container*/

#from-input-container {
    position: absolute;
    top: 30%;
    left: 10%;
    font-weight: bold;
} 

#from-input {
    width: 100%;
    height: 100px;
    border: 2px solid green;
    font-size: 50px;  
}


/* to input container*/

#to-input-container {
    position: absolute;
    top: 50%;
    left: 10%;
    font-weight: bolder;
    
}

#to-input {
    width: 100%;
    height: 100px;
    border: 2px solid green;
    font-size: 50px;
}


/*test*/