html, body {
    background-color: #f2f2f3;
    width: 100%;
    height: 100%;
    margin: 0;
}

header {
    display: flex;
    position: relative;
    width: 100%;
    height: 200px;
    border-bottom: 2px solid grey;

}

main {
    position: relative;
    width: 100%;
    height: calc(100% - 400px);
    overflow-y: scroll;
}

footer {
    position: relative;
    background-color: gray;
    width: 100%;
    height: 200px;
}

/* header components */

#back-tab-container {
    position: relative;
    height: 100%;
    width: 200px;
}

#back-tab {
    position: relative;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#map-button-container {
    position: relative;
    height: 100%;
    width: 500px;
    left: 280px;
}

#map-button {
    position: relative;
    width: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* main components */

#main-container {
    width: 100%;
    height: 100%;
    font-size: 2em;
    overflow: scroll;

}

#departure {
    display: grid;
    grid-auto-rows: 300px;
    grid-template-columns: 2fr 1fr 5fr;
}

#time-container {;
    text-align: center;
    line-height: 230px;
}

#serviceprovider-icon-container {
    position: relative;
    width: 150px;
    height: 150px;
    left: 50%;
    top: -20%;
    transform: translateX(-50%);
    line-height: 40px;
}

#serviceprovider-icon {
    width: inherit;
}

#node-container {

}

.Node {
    position: relative;
    width: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
}


#route-line {
    background-color: #383e42;
    position: relative;
    width: 20px;
    height: 300px;
    left: 50px;
    top: 150px;
}

#name-container {
    position: relative;
    text-align: left;
    top: 80px;
    white-space: nowrap;
    overflow: hidden;
}

.Text-Name {
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
}

.Text-Transport {
    font-family: Arial;
    font-style: italic;
}

#transport-icon-container {
    display: flex;

}

#transport-icon
{
    width: 100px;
    height: auto;
}

