html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    background-color: #f2f2f3;
    color: #212721;
}

/** Header styling **/
#back-arrow {
    height: 5.5vh;
    align-self: center;
    margin-top: 2vh;
    margin-left: 4vw;
}

#favorite-main-container {
    position: relative;
    height: 92%;
    overflow-y: auto;
}

#favorite-header-container {
    display: grid;
    grid-template-columns: 20% auto;
}

.favorite-title-container {
    align-items: center;
    font-weight: bold;
}

/* Used when no route has been saved */
.text-empty-route {
    text-align: center;
    padding-top: 1.5vh;
    font-weight: bold;
}

#favorite-title {
    display: grid;
    font-size: 3vh;
    text-align: center;
    padding-top: 3vh;
}

/** Route from users list **/
.detail-box {
    margin: 5px;
    padding: 5px;
    box-shadow: 0px 3px #c7c9c7;
    display: grid;
    grid-template-columns: 10% auto 15%;
    grid-template-rows: 30% auto;
    background-color: #FFFFFF;
}

/** Delete svg **/
.delete-icon {
    text-align: center;
}

.delete-icon svg{
    height: 4vh;
    margin: 0;
    padding: 0;
}

.cls-1 {
    fill: #00957a;
    stroke: #0e0c0c;
    stroke-miterlimit: 10;
    stroke-width: 20px;
}

.cls-2 {
    fill: none;
    stroke: red;
    stroke-miterlimit: 10;
    stroke-width: 20px;
}

.route-line {
    grid-column: 1;
    grid-row: 1 /span 2;
    padding: .5em;
    display: grid;
    grid-template-rows: 20% 60% 20%;
    align-items: center;
}

/** Left side travel display **/
.node-icon {
    width: 1em;
    height: 1em;
}

.line {
    width: .23em;
    height: 100%;
    background-color: #383e42;
    margin: 0 10px 0 calc(.5em - .115em);
}

.route-detail > p {
    font-weight: normal;
}

