html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    background-color: #f2f2f3;
    color: #212721;
}

/** Header styling **/
#back-arrow {
    height: 5.5vh;
    align-self: center;
}

.back-icon {
    fill: #383e42;
}

#favorite-main-container {
    position: relative;
    height: 92%;
    overflow-y: auto;
}

.header {
    box-sizing: border-box;
    margin: 1em 0;
    padding: 0 1.5em 0 1.5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.title-bar {
    width: 100%;
    height: 2em;
    font-size: 1.5em;
    font-weight: bold;
    color: #383e42;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.description-field {
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #686868;
}

/* Used when no route has been saved */
.msg-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30em;
    width: 100%;
}

.no-faves {
    text-align: center;
    padding-top: 1.5vh;
    color: #adadad;
    font-size: 2rem;
    font-weight: bold;
}

/** Route from users list **/
.routes-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

p {
    margin: .1em;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .5em 1.5em;
    margin: .5em 0;
    box-shadow: #b9c4bf 0 2px 4px;
}

.vs-container {
    position: relative;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 2em;
    height: 100%;
}

.vs-container * {
    background-color: #dbdbdb;
}

.vs-ball {
    width: .95em;
    height: .95em;
    border-radius: 50%;
}
.vs-line {
    width: .2em;
    height: auto !important;
    min-height: 3em;
    max-height: 10em;

}

.route {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0 .3em;
    width: 100%;
}

.from-container{
    margin: 0 0 .5em 0;
}

.to-container{
    margin: .5em 0 0 0;
}

.name {
    font-size: 1.1rem;
}

.area {
    display: inline-block;
    font-size: .9rem;
    color: #5a6668;
}

.rm-fav-svg {
    width: 2em;
}

.star-icon {
    fill: #00957a;
}

.minus-icon {
    fill: none;
    stroke: #BD362F;
    stroke-width: 25px;
}