html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    color: #212721;
    background-color: #f2f2f3;
    overflow-y: hidden;
}

header {
    width: 100%;
}

main {
    width: 100%;
    height: 92%;
    overflow-y: auto;
}

.footer-text {
    font-size: 1rem;
}

/* header elements */

#logo-container {
    height: 100%;
    width: 100%;
    text-align: center;
}

#logo {
    padding: 7vw;
    width: 60vw;
    margin: auto;
}

/* main elements */

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin-top: 1em;

}

#hello-container {
    width: 100%;
    padding: 1em 0;
    font-size: 1em;
    text-align: center;
}

#hello-span {
    height: 1em
}

/* input containers*/

#dark-screen {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    opacity: 50%;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 1;
}


#destination-container {
    font-size: 1.3em;
    display: grid;
    grid-template-rows: 1em 3.6em 3em 3.6em 4.5em;
    width: 80%;
}

.destination-input {
    border: none;
    border-bottom: 4px solid #00957a;
    background-color: rgb(200,200,200);
    padding: 5px 0 0 10px;
    width: 97%;
    height: 2rem;
    font-size: 1.3rem;
}

.input-container {
    max-width: 100%;
}

.droplist-content {
    display: inline-block;
    font-size: 1rem;
    width: 75vw;
    height: 2em;
    background-color: lightgray;
    border-bottom: 3px solid #00957a;
    padding: 5px 10px 0 10px;
}

.dropdown-span {
    position: relative;
}

#from-input-container {
    grid-row: 2;
    z-index: 2;
}

#from-droplist {
    position: absolute;
    max-height: 500px;
    display: none;
    z-index: 5;
    overflow-y: scroll;
}

#to-droplist {
    position: absolute;
    max-height: 500px;
    display: none;
    z-index: 5;
    overflow-y: scroll;
}

#swap-from-to {
    grid-row: 3;
    display: none;
    margin: auto 0 auto auto;
    width: 2em;
}

#swap-from-to:hover{
    cursor: pointer;
}

#swap-from-to:active {
    transform: scale(0.9);
}

#to-input-container {
    grid-row: 4;
    z-index: 1;
}

#to-droplist {
    display: none;
}


#to.droplist:hover {
    color: red;
}

#route-button-container {
    margin: 1em 0 1em 0;
    grid-row: 5;
}

.route-button {
    opacity: .3;
    pointer-events: none;
    width: 50%;
    height: 100%;
    font-size: 1.4rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-style: none;
    padding: 10px;
    background-color: #00957a;
    color: #f2f2f3;
    transition: .02s ease;
    border-radius: 4px;
}

.route-icon {
    fill: #f2f2f3;
    stroke:#000;
    stroke-miterlimit:10;
}

#route-button:active {
    opacity: 0.6;
}

/* Search history styles */

#search-history {
    margin: .4em 0 .2em 0;
    width: 90%;
    height: fit-content;
}

#search-history h4 {
    text-align: center;
    font-size: 1.1rem;
    margin: .7em;
}

#generated-history {
    display: flex;
    flex-direction: row;
    height: 4em;
    overflow-x: auto;
    align-items: center;
    justify-content: space-between;
}

#generated-history div {
    background-color: #212721;
    text-align: center;
    width: fit-content;
    display: flex;
    align-items: center;
    height: 1em;
    margin: .5em;
    padding: 10px;
    border-radius: 3px;
}

#generated-history div p {
    color: #f2f2f3;
    font-size: .8em;
    white-space: nowrap;
}
#generated-history div span{
    font-size: .9em;
    font-weight: bold;
    white-space: nowrap;
}