html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #f2f2f3;
}

.back-tab-container {
    height: 7vh;
    border-bottom: solid 2px grey;
}

#map {
    height: 93%;
    width: 100%;
    position: relative;
}

#back-tab {
    margin: 2%;
    height: 5.5vh;
}
