      #map {
        height: calc(100% - 200px);
        position: relative;
      }
  
      html, body {
        height: 100vh;
       	width: 100vw;
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        font-weight: bold;
        color: #242424;
      }

      header {
        display: flex;
        position: relative;
        width: 100vw;
        height: 200px;
        border-bottom: 2px solid grey;
      }

      #back-tab {
        position: relative;
        height: 60%;
        top: 50%;
        left: 85%;
        transform: translate(-50%, -50%);
      }

      #back-text {
        position: relative;
        font-size: 4rem;
        top: 35%;
        left: 5%;
      }