html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    color: #212721;
    background-color: #f2f2f3;
}

header {
    width: 100%;
}

main {
    position: relative;
    width: 100%;
    height: 100%;
}

.footer-text {
    font-size: 1rem;
}

/* main elements */
#main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    padding: 0 1.5em;
    width: 100%;
    height: 80%;
}

.primary-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-svg {
    width: 6em;
    height: 6em;
    fill: none;
    stroke: #383e42;
    stroke-width: 25px;
}

.name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#full-name {
    font-size: 1.5rem;
    margin: .2em;
}

#email {
    font-size: 1rem;
    text-align: center;
    color: #585858;
}

.action-button {
    border-style: none;
    border-radius: 2em;
    background-color: #4a4c4e;
    color: #f2f2f3;
    font-size: 1.1rem;
    padding: .5em 2em;
}

/* Logout button */
#logout-button {
    padding: 1em 3em;
    font-size: 1.2rem;
    border-style: none;
    background-color: #00957a;
    color: white;
}