html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    font-weight: bold;
    color: #242424;
    background-color: #f2f2f3;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.5rem;
    padding: 1em 1em .2em 1em;
}

h3 {
    margin: 0;
    color: #00957a;
}

main {
    position: relative;
    width: 100%;
    height: 100%;
}
/* header elements */

#logo-container {
    height: 100%;
    width: 100%;
}

#logo {
    width: 50%;
    padding-left: 25%;
    padding-top: 10%;
}

/* main elements */
#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 1.5em;
    width: 100%;
    height: 80%;
}

/* input containers */

#register-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.register-input {
    border: none;
    box-sizing: border-box;
    border-bottom: 3px solid #00957a;
    background-color: rgb(200,200,200);
    width: 100%;
    height: 2em;
    font-size: 1em;
    padding: 1.3em 0 1.3em .7em;
}

.password-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#register-container {
    text-align: center;
    font-size: 1em;
}

#register-button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#register-button {
    padding: 1em 3em;
    font-size: 1.2rem;
    border-style: none;
    background-color: #00957a;
    color: white;
}

.login-link{
    text-decoration: none;
    background-color: #cdcdcd;
    color: #383e42;
    font-size: 1rem;
    border-radius: 1em;
    padding: .4em 4em;
}

.error {
    color: red;
    display: inline-block;
}

.pass-require-text {
    margin: 0 1em;
    font-weight: normal;
    font-size: .9rem;
}