html, body {
    background-color: #f2f2f3;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    color: #212721;
    overflow: hidden;
}

header {
    box-sizing: border-box;
    margin: 1em 0;
    padding: 0 1.5em 0 1.5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main {
    position: relative;
    width: 100%;
    height: calc(92% - 4em);
    overflow-y: scroll;
}

.footer-text {
    font-size: 1rem;
}

.current-time {
    margin: 0;
}

#back-arrow {
    height: 5.5vh;
}

.back-icon {
    fill: #383e42;
}

.maps-svg {
    height: 5.5vh;
    width: 5.5vh;
}

.map-icon {
    fill: #00957a;
}

/* main components */
#small-info-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    font-size: 1rem;
    top: 0;
    margin: 0;
    padding: 0;
    height: 4em;
    background-color: #212721;
    color: #f2f2f3;
    z-index: 5;
    box-shadow: #b9c4bf 0 2px 4px;
}

.small-header-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.small-info-title {
    font-weight: bold;
}

#main-container {
    width: 100%;
    font-size: 3vh;
    height: 100%;
    overflow: scroll;
}

.detail-box {
    margin: 0;
    padding: 1em 0 1em 1em;
    font-size: 2vh;
    box-shadow: #b9c4bf 0 2px 4px;
    display: grid;
    grid-template-columns: auto;
    background-color: #FFFFFF;
}

.route-line {
    padding: 0 .5em 0 .5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.vs {
    transform: translateY(1em);
}

.vs-delay {
    background-color: #e5af63 !important;
}

.vs-cancelled {
    background-color: #BD362F !important;
}

.vs-ball {
    background-color: #d0d0d0;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    margin: auto;
}

.vs-final {
    margin-bottom: 3em;
}

.vs-line {
    width: .20em;
    height: 100%;
    background-color: #d0d0d0;
}

.route {
    display: grid;
    grid-template-columns: 10% 90%;
}

.route-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: .1em 0 .5em .3em;
}

.place {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.route-place {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0;
}

.path-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: .7em 0;
}

.route-action {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    margin: .4em 0 0 0;
}

.svg {
    width: 2em;
    height: 2em;
    padding: 0 1em 0 0;
}

.action-icon {
    fill: #383e42;
}

.path-service {
    font-size: .8rem;
    padding: .5em;
    font-weight: bold;
}

.vy-service {
    background-color: #00957a;
    color: #f2f2f3;
}

.ruter-service {
    background-color: #E60000;
    color: #f2f2f3;
}

.sporveien-service {
    background-color: #df8200;
    color: #f2f2f3;
}

.unibuss-service {
    background-color: #012E8C;
    color: #f2f2f3;
}

.service-provider {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 1em;
}

.action-time {
    margin: 0;
}

.action-extra {
    margin: 0;
    font-style: italic;
    color: #9c9c9c;
}

.wait-div {
    width: 100%;
    height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
    color: #898989;
}

/* Delay and Cancelled */
.delay {
    margin-bottom: .2em;
}

.delay-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #df8200;
    padding: .5em 0 .5em .5em;
}

.isCancelled {
    background-color: #ffe22b !important;
    fill: #212721 !important;
    color: #212721 !important;
    font-weight: bold;
}

.delay-message {
    color: #f2f2f3;
    margin: 0;
}

.expcon-icon {
    fill: #383e42;
}

.delay-collapser {
    width: 1em;
    height: 1em;
    margin: 0 1em;
}

.delay-time {
    color: #f2f2f3;
    margin: 0 0 0 .4em
}

.delay-details {
    max-height: 0em;
    background-color: #df8200;
    color: #f2f2f3;
    transition: .2s ease !important;
}

.delay-desc {
    margin: 0;
    font-size: .8rem;
    padding: .5em;
    display: none;
}

.delay-show {
    max-height: 10em !important;
}

.delay-show * {
    display: block;
}

.line-over {
    text-decoration: line-through;
    color: #f3b9b9;
}

.new-time {
    padding-left: 1em;
    margin: 0;
}

.time-container {
    display: flex;
    flex-direction: row;
    font-size: 1.8vh;
    align-items: center;
}

.warning-svg {
    height: 1.2em !important;
    min-width: 1.2em !important;
    margin-right: .5em;
}

.warn-icon {
    fill: #f2f2f3;
    stroke: none;
    stroke-miterlimit: 10;
    stroke-width:2px;
}

.cancelled-icon {
    fill: #212721;
    stroke: none;
    stroke-miterlimit: 10;
    stroke-width:2px;
}

.bell-icon {
    position: absolute;
    display: flex;
    bottom: 0;
    right: 0;
    width: 2.4em;
    height: 2.4em;
    align-items: center;
    justify-content: center;
    background-color: #d2d2d2;
    border-radius: 50%;
    margin: 1em;
}