html, body {
    background-color: #f2f2f3;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    color: #212721;
    overflow: hidden;
}

header {
    position: relative;
    display: flex;
    width: 100%;
    height: 4em;
    border-bottom: 0.1em solid grey;
    overflow: hidden;
}

main {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.footer-text {
    font-size: 1rem;
}

/* header components */
#back-tab-container {
    position: relative;
    height: 100%;
    width: 2em;
}

#back-tab {
    position: relative;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#map-button-container {
    position: relative;
    height: 100%;
    width: 10em;
    left: 12.7em;
}

#map-button {
    position: relative;
    width: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* main components */

#main-container {
    width: 100%;
    height: calc(100% - 4em - 8vh);
    font-size: 3vh;
    overflow: scroll;
}

.detail-box {
    margin: 5px;
    padding: 5px;
    font-size: 2vh;
    box-shadow: 0px 3px #c7c9c7;
    display: grid;
    grid-template-columns: 10% 90%;
    background-color: #FFFFFF;
}

.route-line {
    padding: .5em;
    display: grid;
    grid-template-rows: 20% 60% auto;
    align-items: center;
}

.node-icon {
    width: 1em;
    height: 1em;
}

.line {
    width: .23em;
    height: 100%;
    background-color: #383e42;
    margin: 0 10px 0 calc(.5em - .115em);
}

.route-details {
    display: grid;
    grid-template-rows: 10% 20% auto 10% auto;
    padding: .3em .3em 1em .3em;
}

.route-time {
    display: flex;
    align-items: center;
    font-size: 1.8vh;
}

.route-place {
    font-weight: bold;
    font-size: 22px;
}

.route-action {
    display: flex;
    align-items: center;
    margin: 1em 0 1em 0;
}

.action-img {
    width: 2em;
    padding-right: 1em;
}

.action-extra {
    font-style: italic;
    color: #9c9c9c;
}
