html, body {
    background-color: #f2f2f3;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    color: #212721;
    overflow: hidden;
}

header {
    position: relative;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    width: 100%;
    height: 4em;
    border-bottom: 0.1em solid grey;
    overflow: hidden;
}

main {
    position: relative;
    width: 100%;
    height: calc(92% - 4em);
    overflow-y: scroll;
}

.footer-text {
    font-size: 1rem;
}

/* header components */
#back-tab-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#back-tab {
    height: 2.5em;
    padding-left: 10%;
}

#header-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: bold;
    font-size: 22px;
    height: 100%;
}

#map-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:4em;
}

#map-button {
    height: 100%;

}

/* main components */

#main-container {
    width: 100%;
    font-size: 3vh;
    height: 100%;
    overflow: scroll;
}

.detail-box {
    margin: .5em;
    padding: 1em;
    font-size: 2vh;
    box-shadow: 0px 3px #c7c9c7;
    display: grid;
    grid-template-columns: auto;
    background-color: #FFFFFF;
    margin-bottom: 1em;
}

.route-line {
    padding: .5em;
    display: grid;
    grid-template-rows: 20% 80%;
}

.node-icon {
    width: 1em;
    height: 1em;
}

.line {
    width: .20em;
    height: 100%;
    background-color: #383e42;
    margin: 0 1em 0 calc(.5em - .1em);
}

.route-details {
    display: grid;
    grid-template-rows: 10% 20% auto;
    padding: .3em .3em 0em .3em;
}

.route-time {
    display: flex;
    align-items: center;
    font-size: 1.8vh;
}

.route-place {
    font-weight: bold;
    font-size: 22px;
}

.route-action {
    display: flex;
    align-items: center;
    margin: 1em 0 1em 0;
}

.action-img {
    width: 2em;
    padding-right: 1em;
}

.action-extra {
    font-style: italic;
    color: #9c9c9c;
}

.wait-div {
    width: 100%;
    height: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #898989;
}

#small-info-header {
    position: sticky;
    top: -1px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 4em;
}

.small-header-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.small-info-title {
    font-weight: bold;
}


/* Delay and Cancelled */
.delay-message {
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.line-over {
    text-decoration: line-through;
}

.new-time {
    padding-left: 1em;
}

.time-container {
    display: flex;
    font-size: 1.8vh;
    align-items: center;
    padding: 5px;
    padding-left: 0;
}

.warning-svg {
    height: 1em;
    margin-right: 0.5em;
}

.warn-icon {
    fill: #df8200;
    stroke: none;
    stroke-miterlimit: 10;
    stroke-width:2px;
}

.bell-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2.4em;
    height: 2.4em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d2d2d2;
    border-radius: 50%;
    margin: 1em;
}

.cancelled-container {
    background-color: #ffe400;
    display: inline-block;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.cancelled-title {
    width: 100%;
    font-weight: bold;
    font-size: 2.4vh;
}

.grey-line {
    height: 2px;
    width: 100%;
    background-color: gray;
    margin: 1px 0 9px 0;
}

.cancelled-message {
    font-size: 1.7vh;
}