/* Styling for main container */
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    background-color: #f2f2f3;
    color: #212721;
    overflow-x: hidden;
}

#main-container-routes {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin-bottom: 10vh;
}

.footer-text {
    font-size: 1.2rem;
}

/* Header routes styling */
.header-routes {
    position: relative;
    height: 100%;
    min-height: 13vh;
    padding: 0 5vw 1em 5vw;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.top-nav {
    margin: 1em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#back-arrow {
    height: 5.5vh;
    align-self: center;
}

#title-routes {
    grid-column: 2/5;
    font-size: 4vh;
    align-self: center;
    margin-left: 13vw;
    margin-top: -2vh;
}

#favorite-star {
    position: relative;
    width: 2em;
    visibility: hidden;
    transition: .1s ease;
}

#favorite-star:active {
    transform: scale(.8);
}

.star-fav-default {
    fill: none;
    stroke: #a5a5a5;
    stroke-miterlimit: 10;
    stroke-width: 35px;
}

.star-fav-active {
    fill: #00957a;
    stroke: none;
}

.from-to {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
}

#route-title {
    margin: 0;
    width: 100%;
}

.route-name {
    color: #00957a;
    font-weight: bold;
}

#swap-from-to {
    height: 2.4em;
    width: 2em !important;
    margin-left: 1em;
    margin-right: 1em;
}

.header-icon {
    transition: .1s ease;
}

.header-icon:active{
    transform: scale(.8);
}

.swap-icon {
    display: block;
    fill: #00957a;
    stroke: none;
    stroke-miterlimit: 10;
    stroke-width: 16px;
}

.to-destination-routes {
    grid-column: 4/6;
    grid-row: 2;
    align-self: center;
    margin: 5vw;
}

/* header filter-by styling */

#filter-by-container {
    height: 2.4em;
    width: 2em !important;
}

#filter-by-icon {
    display: inline-block;
    height: 100%;
    width: 1.4em !important;
    vertical-align: middle;
}

#filter-dropdown {
    overflow: hidden;
    background-color: white;
    position: relative;
    width: 6em;
    height: auto;
    max-height: 0;
    right: 4.5em;
    transition: .5s ease-out;
}

#filter-by-container:hover > #filter-dropdown {
    max-height: 500px;
}

.filter-element {
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-top: 0.2em;
    border-bottom: 0.05em solid #b9c4bf;
}

.filter-element:hover {
    background-color: #b9c4bf;
}

/* Priority styling*/
.priority-container-routes {
    display: grid;
    grid-template-columns: 90% 10%;
    padding: 0.5vh;
}

#priority-routes {
    grid-column: 1;
    align-self: center;
    margin-left: 1.3vw;
}

#filter-routes {
    height: 2.4vh;
    grid-column: 2;
    align-self: center;
}

/* Styling of routes box container */
#routes-result-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.route-date {
    text-align: center;
    background-color: #212721;
    color: #f2f2f3;
    font-weight: bold;
    font-size: 1em;
    width: 100%;
    padding: .5em;
}

.route-date p {
    margin: 0;
}

.route-container {
    width: 94vw;
    padding: 1em 6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: .5em 0;
    box-shadow: #b9c4bf 0 2px 4px;
    transition: .1s ease;
}

.route-container:active {
    transform: scale(.9);
}

.route-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.time-destination {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 30%;
}

.destination {
    height: 1em;
    white-space: nowrap;
    color: #a1a1a1;
    margin: 0 0 .4em 0;
    font-size: .8rem;
}

.dest-end {
    text-align: right;
}

.time {
    margin: 0;
    font-weight: bold;
    font-size: 1.5rem;
}

.travel-time {
    font-size: .9rem !important;
    bottom: 0;
    color: #9a9a9a;
    font-weight: normal;
}

.route-path {
    margin: 3.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.route-path-part {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.path-action {
    position: relative;
}

@keyframes iconBounce {
    0%, 100%{
        transform: translateY(0);
    }
    50% {
        transform: translateY(-.2em);
    }
}

.warning-svg {
    width: 1em;
    height: 1em;
    position: absolute;
    right: -.4em;
    top: -.4em;
    z-index: 15;
    animation: iconBounce infinite ease 2s;
}

.warn-icon {
    fill: #df8200;
    stroke: none;
    stroke-miterlimit: 10;
    stroke-width:2px;
}

.svg {
    position: relative;
    height: 1.6em;
    width: 1.6em;
    z-index: 10;
    background-color: #f2f2f3;
}

.action-icon {
    fill: #212721;
    stroke: none;
    stroke-miterlimit: 10;
    stroke-width:25px;
}

.path-service {
    font-size: .8rem;
    padding: .5em;
    font-weight: bold;
}

.vy-service {
    background-color: #00957a;
    color: #f2f2f3;
}

.ruter-service {
    background-color: #E60000;
    color: #f2f2f3;
}

.sporveien-service {
    background-color: #df8200;
    color: #f2f2f3;
}

.unibuss-service {
    background-color: #012E8C;
    color: #f2f2f3;
}

.walk-time {
    font-weight: normal;
    font-size: .7rem;
    color: #c7c9c7;
}

/* Start of Visual Flare styling */

.vf {
    position: absolute;
    background-color: #e8e7e7;
    z-index: 1;
    overflow-x: hidden;
}

.line {
    display: inline-block;
    width: 100%;
    left: 0;
    height: 3px;
    margin-top: .8em;
}

.start-point {
    width: 1em;
    height: 1em;
    display: block;
    margin-top: .4em;
    border-radius: 50%;
    left: 0;
}

.end-point {
    width: 1em;
    height: 1em;
    display: block;
    margin-top: .4em;
    border-radius: 50%;
    right: 0;
}

/* End of visual flair styling*/

.status {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.status-indicator {
    background-color: #212721;
    border-radius: 50%;
    width: .45em;
    height: .45em;
}

.status-text {
    margin: 0 0 0 .5em;
    font-size: .9rem;
    color: #868686;
}

/* Start of route info styling*/
@keyframes pulsate {
    0%, 100% {
        transform: scale(1);
        filter: brightness(50%);
    }

    50% {
        transform: scale(1.1);
        filter: brightness(70%);
    }
}

.in-route {
    animation: pulsate ease-in-out 1s infinite;
    background-color: #0ee70e;
}

.delayed {
    animation: pulsate ease-in-out 1s infinite;
    background-color: #df8200;
}

.cancelled {
    animation: pulsate ease-in-out 1s infinite;
    background-color: #b42f2f;
}

.complete {
    animation: pulsate ease-in-out 1s infinite;
    background-color: #434e4a;
}

.not-started {
    background-color: #95a195;
}


.route-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.price {
    margin: 0;
    font-weight: bold;
    color: #00957a;
}