/* Styling for main container */
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    background-color: #f2f2f3;
    color: #212721;
    overflow-x: hidden;
}

#main-container-routes {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin-bottom: 10vh;
}

.footer-text {
    font-size: 1.2rem;
}

/* Header routes styling */


.top-nav {
    box-sizing: border-box;
    margin: 1em 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 0 1.5em 0 1.5em;
    justify-content: space-between;
    align-items: center;
}

#back-arrow {
    height: 5.5vh;
    align-self: center;
}

.back-icon {
    fill: #383e42;
}

#title-routes {
    grid-column: 2/5;
    font-size: 4vh;
    align-self: center;
    margin-left: 13vw;
    margin-top: -2vh;
}

#favorite-star {
    position: relative;
    height: 2.5em;
    visibility: hidden;
    transition: .1s ease;
}

#favorite-star:active {
    transform: scale(.8);
}

.star-fav-default {
    fill: none;
    stroke: #a5a5a5;
    stroke-miterlimit: 10;
    stroke-width: 35px;
}

.star-fav-active {
    fill: #00957a;
    stroke: none;
}

.from-to {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.1rem;
    width: 100%;
}

.from-to div{
    display: grid;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: solid 1px #a8a8a8;
    width: 100%;
    padding: .6em 0 .6em 1em;
}

.from-to div:first-child {
    border-bottom: none;
}

.preamble {
    margin: 0;
    font-size: .9rem;
    color: #6f6f6f;
}

.title {
    color: #00685e;
    margin: 0;
}

.route-name {
    color: #00957a;
    font-weight: bold;
}

.header-icon {
    padding: 0 .6em;
    width: 2em !important;
}

.swap-holder {
    position: relative;
}

#swap-from-to {
    position: absolute;
    height: 3em;
    width: 3em;
    right: 2em;
    top: -1.5em;
    border-radius: 50%;
    background-color: #f2f2f3;
    border: solid #a8a8a8 1px;
}

.swap-icon {
    display: block;
    fill: #00957a;
    stroke: none;
    stroke-miterlimit: 10;
    stroke-width: 16px;
}

/* header filter-by styling */
#current-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1.5em;
    margin-top: 1em
}

#filter-description {
    color: #00957a;
}

#filter-expander {
    width: 1em !important;
}

#filter-expander polygon {
    fill: #00957a;
}

.open-filter {
    background-color: #383e42;
    border-radius: 5px 5px 0 0;
}

.open-filter path {
    fill: #f2f2f3;
}

#filter-by-container {
    background-color: #383e42;
    height: 0;
    transition: .1s ease;
}

#filter-by-container * {
    opacity: 0;
    pointer-events: none;
}

.filter-visible {
    height: 15em !important;
}

.filter-visible ~ #routes-result-container{
    margin-top: 0;
}

.filter-visible * {
    opacity: 1 !important;
    pointer-events: auto !important;
}

#filter-dropdown{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    height: 100%;
    width: 100%;
}

.filter-element {
    place-self: center;
    box-sizing: border-box;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #383e42;
}

.filter-selected {
    border: solid #00957a 2px;
    filter: brightness(1.3);
}

.filter-element p {
    margin: 0;
    color: #f2f2f3;
    font-weight: bold;
}

.filter-dept .filter-svg .filter-icon{
    fill: #00957a;
}

.filter-time .filter-svg .filter-icon{
    fill: #adeff5;
}

.filter-price .filter-svg .filter-icon{
    fill: #f8e99b;
}

.filter-green .filter-svg .filter-icon{
    fill: #a2f1a2;
}

.filter-svg {
    height: 3.4em;
}

/* Priority styling*/
.priority-container-routes {
    display: grid;
    grid-template-columns: 90% 10%;
    padding: 0.5vh;
}

#priority-routes {
    grid-column: 1;
    align-self: center;
    margin-left: 1.3vw;
}

#filter-routes {
    height: 2.4vh;
    grid-column: 2;
    align-self: center;
}

/* Styling of routes box container */
#routes-result-container {
    margin-top: .3em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    transition: .1s ease;
}

.no-route-container {
    width: 100%;
    height: 20em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.no-route {
    font-size: 1.4rem;
    color: #6f6f6f;
    text-align: center;
    max-width: 60%;
}

.route-date {
    text-align: center;
    background-color: #212721;
    color: #f2f2f3;
    font-weight: bold;
    font-size: 1em;
    width: 100%;
    padding: .5em;
}

.route-date p {
    margin: 0;
}

@-webkit-keyframes loading {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}
@-moz-keyframes loading {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}
@-o-keyframes loading {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}
@keyframes loading {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}

.loading {
    background: linear-gradient(273deg, #c1cac8, #d0ddda, #c6ceca);
    background-size: 600% 600%;
    height: 6em;

    -webkit-animation: loading 2s ease infinite;
    -moz-animation: loading 2s ease infinite;
    -o-animation: loading 2s ease infinite;
    animation: loading 2s ease infinite;
}

.route-container {
    width: 94vw;
    padding: 1em 6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: .5em 0;
    box-shadow: #b9c4bf 0 2px 4px;
    transition: .1s ease;
}

.route-container:active {
    transform: scale(.9);
}

.route-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.time-destination {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 30%
}

.destination {
    text-overflow: ellipsis;
    color: #6d6d6d;
    margin: 0 0 .4em 0;
    font-size: .8rem;
}

.dest-end  *{
    direction: rtl;
}

.time {
    margin: 0;
    font-weight: bold;
    font-size: 1.5rem;
}

.travel-time {
    font-size: .9rem !important;
    bottom: 0;
    color: #6f6f6f;
    font-weight: normal;
}

.route-path {
    margin: 3.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.route-path-part {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cancelled-part {
    opacity: .4;
}

.path-action {
    position: relative;
}

@keyframes iconBounce {
    0%, 100%{
        transform: translateY(0);
    }
    50% {
        transform: translateY(-.2em) scale(1.1);
    }
}

.warning-svg {
    width: 1em;
    height: 1em;
    position: absolute;
    right: -.4em;
    top: -.4em;
    z-index: 9;
    animation: iconBounce infinite ease 2s;
}

.warn-icon {
    fill: #df8200;
    stroke: none;
    stroke-miterlimit: 10;
    stroke-width:2px;
}

.cancelled-warn {
    fill: #BD362F !important;
}

.svg {
    position: relative;
    height: 1.6em;
    width: 1.6em;
    z-index: 5;
    background-color: #f2f2f3;
}

.action-icon {
    fill: #212721;
    stroke: none;
    stroke-miterlimit: 10;
    stroke-width:25px;
}

.path-service {
    font-size: .8rem;
    padding: .5em;
    font-weight: bold;
}


.vy-service {
    background-color: #00957a;
    color: #f2f2f3;
}

.ruter-service {
    background-color: #E60000;
    color: #f2f2f3;
}

.sporveien-service {
    background-color: #df8200;
    color: #f2f2f3;
}

.unibuss-service {
    background-color: #012E8C;
    color: #f2f2f3;
}

.walk-time {
    font-weight: normal;
    font-size: .7rem;
    color: #8d8d8d;
}

/* Start of Visual Flare styling */

.vf {
    position: absolute;
    background-color: #e8e7e7;
    z-index: 1;
    overflow-x: hidden;
}

.line {
    display: inline-block;
    width: 100%;
    left: 0;
    height: 3px;
    margin-top: .8em;
}

.start-point {
    width: 1em;
    height: 1em;
    display: block;
    margin-top: .4em;
    border-radius: 50%;
    left: 0;
}

.end-point {
    width: 1em;
    height: 1em;
    display: block;
    margin-top: .4em;
    border-radius: 50%;
    right: 0;
}

/* End of visual flair styling*/

.status {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.status-indicator {
    background-color: #212721;
    border-radius: 50%;
    width: .45em;
    height: .45em;
}

.status-text {
    margin: 0 0 0 .5em;
    font-size: .9rem;
    color: #868686;
}

/* Start of route info styling*/
@keyframes pulsate {
    0%, 100% {
        transform: scale(1);
        filter: brightness(50%);
    }

    50% {
        transform: scale(1.1);
        filter: brightness(70%);
    }
}

.in-route {
    animation: pulsate ease-in-out 1s infinite;
    background-color: #0ee70e;
}

.delayed {
    animation: pulsate ease-in-out 1s infinite;
    background-color: #df8200;
}

.cancelled {
    animation: pulsate ease-in-out 1s infinite;
    background-color: #b42f2f;
}

.complete {
    animation: pulsate ease-in-out 1s infinite;
    background-color: #434e4a;
}

.not-started {
    background-color: #95a195;
}


.route-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.price {
    margin: 0;
    font-weight: bold;
    color: #00957a;
}

.notRecommended {
    opacity: .4;
}